---
const {img} = Astro.props
const {title} = Astro.props
const {info} = Astro.props
---

<div class="flex-colums sm:flex gap-[8px] items-center mb-[20px] [&>img]:hover:scale-[1.1] [&>div]:hover:bg-colorBlue hover:text-white transition-colors duration-300">
    <img 
    class="w-[70px] h-[70px] mb-[10px] sm:mb-0 sm:w-[80px] sm:h-[80px] duration-[200ms]"
    src={img} 
    alt="person">
    <div class=" py-[12px] px-[30px] bg-colorBeig rounded-full border-colorBlue border-b-[5px]">
        <h5 class="text-[23px]">
            {title}
        </h5>
        <p class="text-[15px]">
            {info}
        </p>
    </div>
</div>