---
const {title} = Astro.props
const {subtitle} = Astro.props
const {info} = Astro.props
---

<article class="w-full sm:w-[50%] mb-[30px]">
    <h5 class="text-[20px]">{title}</h5>
    <p class="italic mb-[15px]">{subtitle}</p>
    <p>{info}</p>
</article>
